*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #947575;
    background-image:url(home.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.introdection{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.discription{
    font-size: 25px;
    margin-top: 0px;
}

.company{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;     
    font-size: 20px;
}
.align{
    text-align: left;
    border-radius: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
}
.elle{
    border-radius: 10px;
    padding: 5px;
    background: rgba(38, 37, 37, 0.5);
    margin: 5px;
}
.zara{
    border-radius: 10px;
    padding: 5px;
    background: rgba(38, 37, 37, 0.5);
    margin: 5px;
}
.bare{
    border-radius: 10px;
    padding: 5px;
    background: rgba(38, 37, 37, 0.5);
    margin: 5px;
}
.finn{
    border-radius: 10px;
    padding: 5px;
    background: rgba(38, 37, 37, 0.5);
    margin: 5px;
}

.search_box{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 500px;
    max-width: 90%;
}
